client_generic/MacBuild/build
client_generic/MacBuild/ElectricSheep.xcodeproj/xcuserdata
client_generic/MacBuild/ElectricSheep.xcodeproj/project.xcworkspace
.DS_Store
client_generic/MacBuild/e-dream.xcodeproj/project.xcworkspace/xcuserdata/*
client_generic/MacBuild/e-dream.xcodeproj/xcuserdata/*
