client_generic/MacBuild/build
client_generic/MacBuild/ElectricSheep.xcodeproj/xcuserdata
client_generic/MacBuild/ElectricSheep.xcodeproj/project.xcworkspace
.DS_Store
client_generic/MacBuild/e-dream.xcodeproj/project.xcworkspace/xcuserdata/*
client_generic/MacBuild/e-dream.xcodeproj/xcuserdata/*
client_generic/MacBuild/gitversion.h
client_generic/MacBuild/BuildData.json
/cache
/vcpkg
/vcpkg_installed
/vcpkg_x86

/client_generic/MSVC/.vs
/client_generic/MSVC/Debugx64d
/client_generic/MSVC/Debug
/client_generic/MSVC/Releasex64
/client_generic/MSVC/Release
/client_generic/MSVC/Release
/client_generic/MSVC/Releasex64
/vcpkg_installed
/client_generic/MSVC/DebugMD
/client_generic/MSVC/DebugMDx64
/client_generic/MSVC/DebugMD
/client_generic/MSVC/DebugMDx64
client_generic/MSVC/es.map
/client_generic/MSVC/DebugMDd
/client_generic/MSVC/DebugMDdx64
/client_generic/MSVC/.vs
/client_generic/MSVC/DebugMD
/client_generic/MSVC/DebugMDd
/client_generic/MSVC/DebugMDdx64
/vcpkg_installed
